root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[{*.kt,*.kts}]
indent_size = 2
max_line_length = 100
ij_kotlin_imports_layout = *
ij_kotlin_name_count_to_use_star_import = 9999
ij_kotlin_name_count_to_use_star_import_for_members = 9999
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktfmt_trailing_comma_management_strategy = complete

[*.md]
trim_trailing_whitespace = false
