**/test/snapshots/** filter=lfs diff=lfs merge=lfs -text
**/figma/** filter=lfs diff=lfs merge=lfs -text
media-sample/src/main/res/drawable-mdpi/album_art.jpg filter=lfs diff=lfs merge=lfs -text
media-sample/src/main/res/drawable-mdpi/album_art_2.jpg filter=lfs diff=lfs merge=lfs -text
media-sample/src/main/res/drawable-mdpi/album_art_3.jpg filter=lfs diff=lfs merge=lfs -text
media-sample/src/main/res/drawable-mdpi/kai.jpg filter=lfs diff=lfs merge=lfs -text
media-sample/src/main/res/drawable-mdpi/kyoto.jpg filter=lfs diff=lfs merge=lfs -text
tiles/src/debug/res/drawable-mdpi/coil.jpg filter=lfs diff=lfs merge=lfs -text
